ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #2;
}

li {
float: left;
border-right: 1px solid #bbb;
}

li a {
display: block;
color: white;
text-align: center;
padding: 24px 26px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}
body {
/* Old browsers */
background: #ffcccc;
/* Chrome 10-25, Safari 5.1-6 */
background: 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(-45deg, #35577D, #0040ff);
margin: 0;
padding: 0;
}

h1 {
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
color: rgba(255, 255, 255, 0.5);
font-weight: 125;
font-size: 80px;
line-height: 50px;
padding-bottom: 30px;
text-align: center;
width: 100%;
}

h2 {
color: #FFF;
font-size: 2em;
padding-top: 100px;
width: 100%;
}

p {
color: aliceblue;
line-height: 2em;
text-align: left;
width: 70%;
font-size: 20px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
	vertical-align: middle;
}

thead th {
  width: 25%;
}

.cell-highlight {
  background-color: gold;
  font-weight: bold;
}

body {
  font-family: sans-serif;
}

caption {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 16px;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

tbody th {
  background-color: #36c;
  color: #fff;
  text-align: left;
}

tbody tr:nth-child(even) th {
  background-color: #25c;
}
